<!DOCTYPE html>
<html>
<head>
    <title>StudyHub</title>
</head>
<body>

    <h1>Welcome to {{project}}!</h1>
    <h2>Made by {{name}} and her cuties friends 💜</h2>
    <h3>Project is for {{year}}</h3>
{% if placement %}
    <h3>🎉 Placement Season Started!</h3>
{% else %}
    <h3>📚 Keep Studying. Placement Starts Next Year.</h3>
{% endif %}
    <h4>Subjects</h4>
    <ul>
    <ul>
    {% for task in tasks %}
        <li>{{ task }}</li>
    {% empty %}
        <li>No tasks available.</li>
    {% endfor %}
    </ul>
    <p>Learning Together.</p>

</body>
</html>