# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Database
# db.sqlite3

# Environment variables
.env

# Log files
*.log

# Alternative virtual environment names
env/
ENV/

# macOS
.DS_Store